<div class="col-md-3 col-sm-6 col-xs-12">
  <%= info_box("Documentos", 1000, "bg-aqua", "fa-file-text-o",) %>
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
  <%= info_box("Vencimentos", 1000, "bg-green", "fa-calendar",) %>
</div><!-- /.col -->

<div class="col-md-3 col-sm-6 col-xs-12">
  <%= info_box("CheckOuts", 1000, "bg-yellow", "fa-cloud-download",) %>
</div><!-- /.col -->

<div class="col-md-3 col-sm-6 col-xs-12">
  <%= info_box("Novas versões", 1000, "bg-red", "fa-cloud-upload",) %>
</div><!-- /.col -->
