<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá</h1>
    <p>O documento <b><%= @document.name %></b>, está vencido ou prestes a vencer.</p>

    <p>Vencimento <b><%= @document.date_validity.to_s_br %></b>.</p>
  </body>
</html>
