<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá</h1>
    <p>O documento <%= @document.name %>, está aguardando validação.</p>
    <p>Você pode valida-lo acesando <%= @url %></p>
  </body>
</html>
